* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 10px;
}

.sidebar {
  width: 80px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  transition: width 0.3s;
  background-color: black;
  &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    width: 200px;
  }
  .navbar-brand,
  .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
    color: red;
    .nav-text {
      margin-left: 10px;
      display: none;
      color: white;
    }
  }
  &:hover .navbar-brand .nav-text,
  &:hover .nav-link .nav-text {
    display: inline;
  }
}

.main-content {
  margin-left: 30px;
  transition: margin-left 0.3s;
}

.sidebar:hover ~ .main-content {
  margin-left: 10px;
}

.content {
  margin-left: 0px;
  // padding: 5px 0 !important;
  background-color: black;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .product-form {
    // margin-bottom: 30px;
    width: 80%;

    .col-md-6 {
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(255, 253, 253);
        border-radius: 5px;
      }
    }

    .col-12 {
      button {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .row-cols-1 {
    .col {
      margin-bottom: 20px;
      width: 100%;

      .card {
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;

        .card-body {
          padding: 10px;

          .card-title {
            font-size: 18px;
            font-weight: bold;
          }

          .card-text {
            font-size: 14px;
            margin-bottom: 10px;
          }

          .btn-primary {
            background-color: green;
            margin-right: 10px;
          }

          .btn-danger {
            background-color: red;
          }
        }
      }
    }

    .col {
      p {
        text-align: center;
        font-style: italic;
      }
    }
  }
}
