.content {
    padding: 3rem, 3rem, 0, 5rem; /* Deve ser igual à largura da navbar */
    color: #6C7293;
  }
    
  .content .bg-secondary {
    background-color: #000000;
  }

  .text-content{
    color: #6C7293;
  }
