.navbar {
  background-color: #000; // cor de fundo do navbar
  color: #fff; // cor do texto do navbar

  .navbar-brand {
    color: #fff; // cor do texto do link da marca do navbar
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%; // para tornar a imagem redonda

      // Estilos adicionais, se necessário
    }
  }

  // Estilos adicionais para o navbar, se necessário
}
